.body{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    margin: auto;
    box-shadow: 2px 2px 15px;
}
.box1, .box2, .box3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.equal{
    text-align: center;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 900;
}
div input{
    height: 25px;
    width: 200px;
    border: 2px solid black;
}
.buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.button button{
    cursor: pointer;
    padding: 3px;
    margin: 20px;
    text-align: center;
    height: 30px;
    width: 70px;
    border: 2px solid black;
    box-shadow: 2px 2px 15px;
}
.button button:hover{
    height: 25px;
    width: 60px;
}
.symbol{
    text-align: center;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 900;
}
.symbol p{
    display: none;
}